In [2]:
import pandas as pd 
from commons.config import CIMRI_CSV

2019-06-14 21:44:09,505 : INFO : Checking directories...
2019-06-14 21:44:09,508 : INFO : Directories are set.

In [11]:
df = pd.read_csv(CIMRI_CSV, error_bad_lines=False)
df = df.drop(columns=['Unnamed: 0'])
df = df.loc[df.isSame == 1]
df = df.drop(columns=['offerId', 'isSame', 'secondProduct'])
df = df.dropna()

In [41]:
df.head()

,firstProduct,categoryIdOfFirst,productId,productImages,offerImages
0,$arcelik-k-3190-p-telve-kahve-makinesi,5095,989795,76212232-76227573-76052657-75830462-74982570-7...,83570223-83545479-77693833
1,$dyson-v8-absolute-kablosuz-sarjli-supurge,249,39294277,60996879-69580293-90079988-85103634-84898701-7...,22315286
2,$singer-promise-1408-dikis-makinesi,3250,24007830,93587207-69793356-61709320-69793356-54886570-3...,84075686
3,$arzum-okka-minio-ok004-k-siyah-krom-turk-kahv...,5095,35716940,85796293-24880557-28455230-80909867-80571117-5...,61788184
4,$stilevs-tosthane-tost-makinesi,208,41215455,89633035-85150495-85157304-84880872-84877319-8...,54034471

In [12]:
df.count()

firstProduct         740919
categoryIdOfFirst    740919
productId            740919
productImages        740919
offerImages          740919
dtype: int64

In [36]:
df_fashion = df.loc[df.firstProduct.str.contains('(gozluk|takim|kolye|kupe|bilezik|bere|atki|sapka|pijama|corap|cizme|kemer|kulaklik|eldiven|sal|sort|mont|bandana|polar|fular|esarp|yelek|gomlek|sweatshirt|ceket|pardesu|palto|saat|ayakkabi|t-shirt|elbise|canta|bluz|pantalon|jean|etek|kolye)', regex=True)]

/usr/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [34]:
df_fashion.count()

firstProduct         283346
categoryIdOfFirst    283346
productId            283346
productImages        283346
offerImages          283346
dtype: int64

In [37]:
fashion_categories = df_fashion.categoryIdOfFirst.unique()

In [39]:
df.loc[df.categoryIdOfFirst.isin(fashion_categories)].count()

firstProduct         639479
categoryIdOfFirst    639479
productId            639479
productImages        639479
offerImages          639479
dtype: int64